/* Navbar.css */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #01004e;
    border: solid rgb(76, 39, 244) 2px ;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
    padding: 10px 20px;
    color: white;
    font-size: larger;
    font-weight: bold;
    height: 70px;
}

.navbar_customer {
    background-color: #014708 !important;
    border: solid rgb(2, 19, 3) 2px !important;
    font-size: 12px !important;
}
.navbar_employee {
    background-color: #3e0404 !important;
    border: solid rgb(2, 19, 3) 2px !important;
}

  .navbar-logo {
    color: rgb(2, 2, 2);
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem;
  }
  
  .navbar-nav {
    list-style: none;
    display: flex;
  }
  
  .nav-item {
    margin-right: 5px;
  }
  
  li .nav-link {
    color: rgb(248, 244, 244);
    text-decoration: none;
    font-size: 18px;
    text-shadow: 2px 2px 20px rgb(0, 0, 0) !important;
    font-family: Arial, Helvetica, sans-serif;
    margin: 30px;
    font-size: 15px;
  }

  .logo{
    width: 200px;
    height: 80px;
    border-radius: 6px;
  }

  /* Add more styling as needed */
  .welcome_note{
    margin-left: 30px;
    color: white;
  }
  