/* ContactForm.css */
.contact-form-container {
    background-color: #e0edee;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    border-radius: 5px;
    text-align: center;
  }
  
  .contact-form {
    max-width: 400px;
    margin: 0 auto;
  }

  .contact-container{
    width: 60%;
    padding: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8); 
  }
  .contact-container:hover{
    box-shadow: 5px 5px 20px rgba(2, 2, 175, 0.8);
  }

  
  h2 {
    color: #333;
  }
  
  .form-group {
    margin-bottom: 20px;
    text-align: left;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3;
  }
  